/* ==================================
           Fonts
 ==================================*/
@font-face {
    font-family: abel;
    src: url(./fonts/Abel-Regular.ttf)
}
@font-face {
    font-family: ubuntu;
    src: url(./fonts/Ubuntu-Regular.ttf)
}


/* ==================================

 ==================================*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0c10;
    color: #45a29e;
    width: 100%;
}
/* ==================================
        Navigation Bar 
 ==================================*/
 .main-nav,
 .main-nav ul
 {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-left: 0;
}
.main-nav{
    border-bottom: 1px #222 solid;
    top: 0;
}
.main-nav ul{
    margin: 0 0 10px 0;
}
.nav-links {
    list-style-type: none;
    background-color: #1f2833;
    width: 100%;
    text-align: center;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.nav-links:hover {
    background-color: #222;
}
ul a  {
    color: #66fcf1;
    text-decoration: none;
    font-family: abel, sans-serif;
}

.page-name {
    margin: 5px 0 15px 0;
    color: #66fcf1;
    font-family: abel, sans-serif;
}
/* ==================================
Main Page 
==================================*/

.welcome-heading{
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: abel, sans-serif;
    }
    .whats-new {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        font-family: ubuntu, Arial, Helvetica, sans-serif;
    }
    .whats-new h2 {
        color: orangered;
        text-transform: uppercase;
    }
    .whats-new p {
        text-align: center;
        margin: 0 0 10px 0;
    } 
    .main-img {
    width: 100%;
}
.main-img-div {
    display: flex;
    justify-content: center;
}

/* ==================================
    Media Queries for Navigation
 ==================================*/

 @media (min-width: 768px) {
.main-nav,
.main-nav ul {
    display: flex;
    flex-direction: row;
}
.nav-links {
    width: auto;
    background: none;
    margin: 10px 5px auto auto;
}
.nav-links:hover  {
background: none;
}
.page-name {
    margin: auto auto auto 50px;
}
.main-nav ul {
    margin-right: 50px;
}
 }

 /* ==================================
            content pages   
 ==================================*/
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    color: #66fcf1;
    max-width: 100%;
}
.content-pic {
     display: flex;
     height: 250px;
     width: 250px;
     object-fit: cover;
     margin: 5px auto 10px auto;
     justify-content: center;
    }
.content-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    transition-duration: 500ms;
}
.info-name {
    font-size: 21px;
    font-family: abel;
}
.content-info{
    position: absolute;
    opacity: 0;
    align-self: center;
    font-size: 12px;
    font-family: ubuntu, arial, helvetica, sans-serif;
}
p.content-info  {
    text-align: center;
}
.content-pic:hover img {
    opacity: .1;
}
.content-pic:hover .content-info {
    opacity: 1;
}

    /* ==================================
    Media Queries for Imgs
 ==================================*/

 @media (min-width: 768px) {


.content-pic {
    height: 500px;
    width: 500px;
}
.main-img {
    align-self: center;
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.content-info {
    font-size: 21px;
}
.info-name {
    font-size: 42px;
}
 }

 


